---
interface Props {
 headExtra?: string;
 bodyClass?: string;
 lang?: string;
 bodyHtml?: string;
 pageScript?: string;
}
const { headExtra = '', bodyClass = '', lang = 'es-MX', bodyHtml = '', pageScript = '' } = Astro.props;
---
<!doctype html>
<html lang={lang}>
 <head set:html={headExtra}></head>
 <body class={bodyClass}>
  <Fragment set:html={bodyHtml} />
  <script src="/js/app.js" defer is:inline></script>
  {pageScript && <script is:inline set:html={pageScript} />}
 </body>
</html>
